# Next.js Supabase Environment Variables
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Additional Database Configs
SUPABASE_RDS_POSTGRES_DATABASE=""
SUPABASE_RDS_POSTGRES_HOST=""
SUPABASE_RDS_POSTGRES_PASSWORD=""
SUPABASE_RDS_POSTGRES_PRISMA_URL=""
SUPABASE_RDS_POSTGRES_URL=""
SUPABASE_RDS_POSTGRES_URL_NON_POOLING=""
SUPABASE_RDS_POSTGRES_USER=""
SUPABASE_RDS_SUPABASE_ANON_KEY=""
SUPABASE_RDS_SUPABASE_JWT_SECRET=""
SUPABASE_RDS_SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_RDS_SUPABASE_SECRET_KEY=""
SUPABASE_RDS_SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_RDS_SUPABASE_URL=""